# pandas
**pandas in opensource librabry that allows to perform data manipulations(Series ,DataFrames)
**derived from PANel Data

# why use pandas
*to handle missing data
*efficient way to slice the data
*flexible way to merge,concatenate and reshape data

# Data structures
** series
** Data frames

# series
** it is one dimensional data

In [12]:
import pandas as pd
s=['python']
pd.Series(s)

0    python
dtype: object

In [20]:
pd.Series([4,5,6],)

0    4
1    5
2    6
dtype: int64

In [23]:
d1=pd.Series(['sai','20','vignan lara','vijayawada'],index=[1,2,3,4,])

In [24]:
d1

1            sai
2             20
3    vignan lara
4     vijayawada
dtype: object

In [32]:
l=[]
l=([i**2 for i in range (1,10)])

In [33]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
l=pd.Series([i**3 for i in range (1,11)],index=[i for i in range(1,11)])
l

1        1
2        8
3       27
4       64
5      125
6      216
7      343
8      512
9      729
10    1000
dtype: int64

In [48]:
d={'key1':'value1','key2':'value2'}
pd.Series(d)

key1    value1
key2    value2
dtype: object

In [49]:
d={'key1':'value1','key2':'value2'}
pd.Series(d,index=['a','key2'])

a          NaN
key2    value2
dtype: object

# DataFrames
* two dimesional array

In [53]:
import pandas as pd
df=[['vidya','28','cse'],['anu','40','civil']]
df1=pd.DataFrame(df,columns=['name','rollnumber','branch'])
df1

    name rollnumber branch
0  vidya         28    cse
1    anu         40  civil

In [54]:
a={'name':'vidya','clg':'gec','branch':'cse'}
b={'name':'anu','clg':'gec','branch':'civil'}
s=pd.DataFrame([a,b])
index=['Trinername','college','branch']

In [55]:
s

    name  clg branch
0  vidya  gec    cse
1    anu  gec  civil

In [56]:
s.iloc['college']

TypeError: Cannot index by location index with a non-integer key

In [58]:
s.T

            0      1
name    vidya    anu
clg       gec    gec
branch    cse  civil

In [59]:
s.iloc(0)

In [60]:
s.iloc[0]

name      vidya
clg         gec
branch      cse
Name: 0, dtype: object

In [61]:
s.loc[0]

name      vidya
clg         gec
branch      cse
Name: 0, dtype: object

In [62]:
s.T.loc['clg']

0    gec
1    gec
Name: clg, dtype: object

In [64]:
s.T.iloc[2]

0      cse
1    civil
Name: branch, dtype: object

In [1]:
import pandas as pd
df=pd.read_csv('income.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'income.csv'